@tailwind base;
@tailwind components;
@tailwind utilities;

.rhap_container {
    background-color: #BBBBBB;
    outline: none;
}

.styled-button {
    background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, lime 14.28%, aqua 21.42%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
    animation: gradient 4s infinite linear;
    background-size: 200vw 200vw;
}

@keyframes gradient {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 200vw;
    }
}

.navButton,
.navButtonMobile {
    position: relative;
}

.navButtonMobile {
    width: fit-content
}

.navButton::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: 4px;
    transform: translate(-50%, -50%);
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.2s ease-in;
}

.navButtonMobile::after {
    content: '';
    position: absolute;
    left: 0;
    margin-top: 4px;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.2s ease-in;
}

.navButton:hover::after {
    width: 50%
}

.navButtonMobile:hover::after {
    width: 100%;
}

.social-icon path {
    transition: all 0.2s ease-in;
}

.social-icon:hover path {
    fill: #000000;
}

.sticky-header.sticky-out-of-header {
    background-color: transparent;
    transition: all 0.3s ease-in;
}

.sticky-header.sticky-out-of-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    padding: 8px 36px;
    background-color: #333333;
    box-shadow: 5px 8px 5px#333333;
}

@media screen and (min-width:1024px) {
    .sticky-header.sticky-out-of-header {
        padding: 20px 36px;
    }
}