@tailwind base;
@tailwind components;
@tailwind utilities;

.rhap_container {
    background-color: #BBBBBB;
    outline: none;
}

.styled-button {
    background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, lime 14.28%, aqua 21.42%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
    animation: gradient 5s infinite linear;
    background-size: 200vw 200vw;
}

@keyframes gradient {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 200vw;
    }
}